In [183]:
#pip install matplotlib seaborn
#!pip install scikit-learn

In [184]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [185]:
file_name = "Disease_Data.csv"

In [186]:
df = pd.read_csv(file_name, sep = ';')

pd.set_option('display.max_columns', None)
df.head()

/var/folders/k7/rck94jsj7w3_47f2r29h3vn80000gn/T/ipykernel_2047/46842133.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name, sep = ';')

,RowId,YearStart,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Class,Topic,Question,Data_Value_Type,Data_Value_Unit,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationId,Geolocation
0,NVSS~2000~1~NV001~OVR01~Age-Standardized,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Age-Standardized,"Rate per 100,000","508,2","508,2",NaN,NaN,"508,2","508,2",Overall,Overall,C1,T1,NV001,AgeStdz,BOC01,OVR01,1,POINT (-86.63186076 32.84057112)
1,NVSS~2000~1~NV001~OVR01~Crude,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Crude,"Rate per 100,000","525,6","525,6",NaN,NaN,"525,6","525,6",Overall,Overall,C1,T1,NV001,Crude,BOC01,OVR01,1,POINT (-86.63186076 32.84057112)
2,NVSS~2000~1~NV001~GEN01~Crude,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Crude,"Rate per 100,000","514,9","514,9",NaN,NaN,"514,9","514,9",Gender,Male,C1,T1,NV001,Crude,BOC02,GEN01,1,POINT (-86.63186076 32.84057112)
3,NVSS~2000~1~NV001~GEN01~Age-Standardized,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Age-Standardized,"Rate per 100,000","550,4","550,4",NaN,NaN,"550,4","550,4",Gender,Male,C1,T1,NV001,AgeStdz,BOC02,GEN01,1,POINT (-86.63186076 32.84057112)
4,NVSS~2000~1~NV001~GEN02~Age-Standardized,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Age-Standardized,"Rate per 100,000","471,7","471,7",NaN,NaN,"471,7","471,7",Gender,Female,C1,T1,NV001,AgeStdz,BOC02,GEN02,1,POINT (-86.63186076 32.84057112)

In [187]:
df.Data_Value_Unit.unique()

array(['Rate per 100,000'], dtype=object)

In [188]:
df.Break_Out.unique()

array(['Overall', 'Male', 'Female', '18-24', '25-44', '45-64', '65', '35',
       '75', 'Non-Hispanic White', 'Non-Hispanic Black', 'Hispanic',
       'Other'], dtype=object)

In [189]:
df.BreakOutId.unique()

array(['OVR01', 'GEN01', 'GEN02', 'AGE01', 'AGE04', 'AGE05', 'AGE06',
       'AGE07', 'AGE08', 'RAC01', 'RAC02', 'RAC04', 'RAC07'], dtype=object)

In [190]:
df.Break_Out_Category.value_counts()

Break_Out_Category
Race       69888
Age        52416
Gender     34944
Overall    17472
Name: count, dtype: int64

In [191]:
df.YearStart.value_counts()

YearStart
2000    8320
2001    8320
2002    8320
2003    8320
2004    8320
2005    8320
2006    8320
2007    8320
2008    8320
2009    8320
2010    8320
2011    8320
2012    8320
2013    8320
2014    8320
2015    8320
2016    8320
2017    8320
2018    8320
2019    8320
2020    8320
Name: count, dtype: int64

In [192]:
df.isna().sum()

RowId                              0
YearStart                          0
LocationAbbr                       0
LocationDesc                       0
DataSource                         0
PriorityArea1                 131040
PriorityArea2                 174720
PriorityArea3                 131040
PriorityArea4                 174720
Class                              0
Topic                              0
Question                           0
Data_Value_Type                    0
Data_Value_Unit                    0
Data_Value                     31630
Data_Value_Alt                     0
Data_Value_Footnote_Symbol    143090
Data_Value_Footnote           143090
Low_Confidence_Limit           31630
High_Confidence_Limit          31630
Break_Out_Category                 0
Break_Out                          0
ClassId                            0
TopicId                            0
QuestionId                         0
Data_Value_TypeID                  0
BreakOutCategoryId                 0
BreakOutId                         0
LocationId                         0
Geolocation                     3360
dtype: int64

In [193]:
df.dtypes

RowId                          object
YearStart                       int64
LocationAbbr                   object
LocationDesc                   object
DataSource                     object
PriorityArea1                  object
PriorityArea2                 float64
PriorityArea3                  object
PriorityArea4                 float64
Class                          object
Topic                          object
Question                       object
Data_Value_Type                object
Data_Value_Unit                object
Data_Value                     object
Data_Value_Alt                 object
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
Low_Confidence_Limit           object
High_Confidence_Limit          object
Break_Out_Category             object
Break_Out                      object
ClassId                        object
TopicId                        object
QuestionId                     object
Data_Value_TypeID              object
BreakOutCategoryId             object
BreakOutId                     object
LocationId                      int64
Geolocation                    object
dtype: object

In [194]:
#df = df.drop(df[df['Break_Out_Category'] == 'Race'].index) 
#df = df.drop(df[df['Break_Out_Category'] == 'Gender'].index) 
#df = df.drop(df[df['Data_Value_Type'] == 'Age-Standardized'].index)

In [195]:
df = df.drop(df[df['Data_Value'] == ''].index) 
df = df.drop(df[df['Data_Value_Alt'] == ''].index) 
df.dropna(subset=['Data_Value'], inplace=True)

In [196]:
df['Data_Value'] = df['Data_Value'].str.replace(',','')
df['Data_Value_Alt'] = df['Data_Value_Alt'].str.replace(',','')

df['Data_Value'] = df['Data_Value'].astype(float)
df['Data_Value_Alt'] = df['Data_Value_Alt'].astype(float)

In [197]:
df.shape

(143090, 30)

In [198]:
columns = df.columns.to_list()
columns

['RowId',
 'YearStart',
 'LocationAbbr',
 'LocationDesc',
 'DataSource',
 'PriorityArea1',
 'PriorityArea2',
 'PriorityArea3',
 'PriorityArea4',
 'Class',
 'Topic',
 'Question',
 'Data_Value_Type',
 'Data_Value_Unit',
 'Data_Value',
 'Data_Value_Alt',
 'Data_Value_Footnote_Symbol',
 'Data_Value_Footnote',
 'Low_Confidence_Limit',
 'High_Confidence_Limit',
 'Break_Out_Category',
 'Break_Out',
 'ClassId',
 'TopicId',
 'QuestionId',
 'Data_Value_TypeID',
 'BreakOutCategoryId',
 'BreakOutId',
 'LocationId',
 'Geolocation']

In [199]:
df.isna().sum()

RowId                              0
YearStart                          0
LocationAbbr                       0
LocationDesc                       0
DataSource                         0
PriorityArea1                 107561
PriorityArea2                 143090
PriorityArea3                 105975
PriorityArea4                 143090
Class                              0
Topic                              0
Question                           0
Data_Value_Type                    0
Data_Value_Unit                    0
Data_Value                         0
Data_Value_Alt                     0
Data_Value_Footnote_Symbol    143090
Data_Value_Footnote           143090
Low_Confidence_Limit               0
High_Confidence_Limit              0
Break_Out_Category                 0
Break_Out                          0
ClassId                            0
TopicId                            0
QuestionId                         0
Data_Value_TypeID                  0
BreakOutCategoryId                 0
BreakOutId                         0
LocationId                         0
Geolocation                     3357
dtype: int64

In [200]:
df.drop_duplicates()

,RowId,YearStart,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Class,Topic,Question,Data_Value_Type,Data_Value_Unit,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationId,Geolocation
0,NVSS~2000~1~NV001~OVR01~Age-Standardized,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Age-Standardized,"Rate per 100,000",5082.0,5082.0,NaN,NaN,"508,2","508,2",Overall,Overall,C1,T1,NV001,AgeStdz,BOC01,OVR01,1,POINT (-86.63186076 32.84057112)
1,NVSS~2000~1~NV001~OVR01~Crude,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Crude,"Rate per 100,000",5256.0,5256.0,NaN,NaN,"525,6","525,6",Overall,Overall,C1,T1,NV001,Crude,BOC01,OVR01,1,POINT (-86.63186076 32.84057112)
2,NVSS~2000~1~NV001~GEN01~Crude,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Crude,"Rate per 100,000",5149.0,5149.0,NaN,NaN,"514,9","514,9",Gender,Male,C1,T1,NV001,Crude,BOC02,GEN01,1,POINT (-86.63186076 32.84057112)
3,NVSS~2000~1~NV001~GEN01~Age-Standardized,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Age-Standardized,"Rate per 100,000",5504.0,5504.0,NaN,NaN,"550,4","550,4",Gender,Male,C1,T1,NV001,AgeStdz,BOC02,GEN01,1,POINT (-86.63186076 32.84057112)
4,NVSS~2000~1~NV001~GEN02~Age-Standardized,2000,AL,Alabama,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease mortality rate am...,Age-Standardized,"Rate per 100,000",4717.0,4717.0,NaN,NaN,"471,7","471,7",Gender,Female,C1,T1,NV001,AgeStdz,BOC02,GEN02,1,POINT (-86.63186076 32.84057112)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174715,NVSS~2020~59~NV008~RAC02~Crude,2020,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Stroke,Hemorrhagic stroke mortality rate among US adu...,Crude,"Rate per 100,000",150.0,15.0,NaN,NaN,15,15,Race,Non-Hispanic Black,C1,T6,NV008,Crude,BOC04,RAC02,59,NaN
174716,NVSS~2020~59~NV008~RAC04~Crude,2020,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Stroke,Hemorrhagic stroke mortality rate among US adu...,Crude,"Rate per 100,000",84.0,84.0,NaN,NaN,"8,4","8,4",Race,Hispanic,C1,T6,NV008,Crude,BOC04,RAC04,59,NaN
174717,NVSS~2020~59~NV008~RAC04~Age-Standardized,2020,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Stroke,Hemorrhagic stroke mortality rate among US adu...,Age-Standardized,"Rate per 100,000",102.0,102.0,NaN,NaN,"10,2","10,2",Race,Hispanic,C1,T6,NV008,AgeStdz,BOC04,RAC04,59,NaN
174718,NVSS~2020~59~NV008~RAC07~Age-Standardized,2020,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Stroke,Hemorrhagic stroke mortality rate among US adu...,Age-Standardized,"Rate per 100,000",116.0,116.0,NaN,NaN,"11,6","11,6",Race,Other,C1,T6,NV008,AgeStdz,BOC04,RAC07,59,NaN
174719,NVSS~2020~59~NV008~RAC07~Crude,2020,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Stroke,Hemorrhagic stroke mortality rate among US adu...,Crude,"Rate per 100,000",119.0,119.0,NaN,NaN,"11,9","11,9",Race,Other,C1,T6,NV008,Crude,BOC04,RAC07,59,NaN

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143090 entries, 0 to 174719
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   RowId                       143090 non-null  object
 1   YearStart                   143090 non-null  int64
 2   LocationAbbr                143090 non-null  object
 3   LocationDesc                143090 non-null  object
 4   DataSource                  143090 non-null  object
 5   PriorityArea1               35529 non-null   object
 6   PriorityArea2               0 non-null       float64
 7   PriorityArea3               37115 non-null   object
 8   PriorityArea4               0 non-null       float64
 9   Class                       143090 non-null  object
 10  Topic                       143090 non-null  object
 11  Question                    143090 non-null  object
 12  Data_Value_Type             143090 non-null  object
 13  Data_Value_Unit             143090 non-null  object
 14  Data_Value                  143090 non-null  float64
 15  Data_Value_Alt              143090 non-null  float64
 16  Data_Value_Footnote_Symbol  0 non-null       object
 17  Data_Value_Footnote         0 non-null       object
 18  Low_Confidence_Limit        143090 non-null  object
 19  High_Confidence_Limit       143090 non-null  object
 20  Break_Out_Category          143090 non-null  object
 21  Break_Out                   143090 non-null  object
 22  ClassId                     143090 non-null  object
 23  TopicId                     143090 non-null  object
 24  QuestionId                  143090 non-null  object
 25  Data_Value_TypeID           143090 non-null  object
 26  BreakOutCategoryId          143090 non-null  object
 27  BreakOutId                  143090 non-null  object
 28  LocationId                  143090 non-null  int64
 29  Geolocation                 139733 non-null  object
dtypes: float64(4), int64(2), object(24)
memory usage: 33.8+ MB

df.columns()

In [202]:
#df.plot_scatter('YearStart', 'Data_Value')
#df.plot.scatter(x='YearStart', y='Data_Value')
#plt.scatter(df.col1, df.col2, s=df.col3)
#plt.xlabel('YearStart')
#plt.ylabel('Data_Value')
#plt.title('Cardiovascular Disease')
#plt.show()#

In [203]:
#plt.hexbin(df['YearStart'], df['Data_Value'], gridsize=30, cmap='Blues')
#plt.colorbar(label='Count')
#plt.xlabel('YearStart')
#plt.ylabel('Data_Value')
#plt.title('Cardiovascular Disease')
#plt.show()

In [204]:
#plt.plot(df['YearStart'], df['Data_Value'])
#plt.xlabel('YearStart')
#plt.ylabel('Data_Value')
##plt.title('Cardiovascular Disease')
#plt.show()

In [205]:
# Convert YearStart to a categorical type for proper grouping
#df['YearStart'] = df['YearStart'].astype('category')

# Box plot
#plt.figure(figsize=(12, 8))
#sns.boxplot(x='YearStart', y='Data_Value', data=df)
#plt.xlabel('YearStart')
#plt.ylabel('Data Value')
#plt.title('Cardiovascular Disease')
#plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
#plt.show()

In [206]:
#plt.hexbin(df['YearStart'], df['Data_Value'], gridsize=30, cmap='Blues')
#plt.colorbar(label='Count')
#plt.xlabel('YearStart')
#plt.ylabel('Data_Value')
#plt.title('Cardiovascular Disease')
#plt.show()

In [207]:
#sns.pairplot(df)
#plt.suptitle('Pair Plot of YearStart and Data_Value', y=1.02)
#plt.show()

In [208]:
df.columns

Index(['RowId', 'YearStart', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'PriorityArea1', 'PriorityArea2', 'PriorityArea3', 'PriorityArea4',
       'Class', 'Topic', 'Question', 'Data_Value_Type', 'Data_Value_Unit',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Break_Out_Category', 'Break_Out', 'ClassId', 'TopicId', 'QuestionId',
       'Data_Value_TypeID', 'BreakOutCategoryId', 'BreakOutId', 'LocationId',
       'Geolocation'],
      dtype='object')

In [209]:
df.to_csv('original_dataset_backup.csv', index=False)

In [210]:
columns_to_drop = ['RowId', 'DataSource', 'PriorityArea1', 'PriorityArea2', 'PriorityArea3', 'PriorityArea4', 'Question', 
                   'Data_Value_Type', 'Data_Value_Unit', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 
                   'Low_Confidence_Limit', 'High_Confidence_Limit', 'ClassId', 'TopicId', 'QuestionId',  'BreakOutCategoryId', 'BreakOutId', 'Geolocation']

In [211]:
df = df.drop(columns=columns_to_drop)

In [212]:
df.columns

Index(['YearStart', 'LocationAbbr', 'LocationDesc', 'Class', 'Topic',
       'Data_Value', 'Break_Out_Category', 'Break_Out', 'Data_Value_TypeID',
       'LocationId'],
      dtype='object')

In [213]:
#remaining columns 'YearStart', 'LocationAbbr', 'LocationDesc', 'Class', 'Topic', 'Data_Value',  'Break_Out_Category', 'Break_Out', 'Data_Value_TypeID', 'LocationId'

In [214]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143090 entries, 0 to 174719
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   YearStart           143090 non-null  int64
 1   LocationAbbr        143090 non-null  object
 2   LocationDesc        143090 non-null  object
 3   Class               143090 non-null  object
 4   Topic               143090 non-null  object
 5   Data_Value          143090 non-null  float64
 6   Break_Out_Category  143090 non-null  object
 7   Break_Out           143090 non-null  object
 8   Data_Value_TypeID   143090 non-null  object
 9   LocationId          143090 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 12.0+ MB

In [215]:
df.tail(40)

,YearStart,LocationAbbr,LocationDesc,Class,Topic,Data_Value,Break_Out_Category,Break_Out,Data_Value_TypeID,LocationId
174670,2020,WI,Wisconsin,Cardiovascular Diseases,Stroke,189.0,Age,35,Crude,55
174671,2020,WI,Wisconsin,Cardiovascular Diseases,Stroke,807.0,Age,75,Crude,55
174672,2020,WI,Wisconsin,Cardiovascular Diseases,Stroke,142.0,Race,Non-Hispanic White,Crude,55
174673,2020,WI,Wisconsin,Cardiovascular Diseases,Stroke,101.0,Race,Non-Hispanic White,AgeStdz,55
174674,2020,WI,Wisconsin,Cardiovascular Diseases,Stroke,169.0,Race,Non-Hispanic Black,AgeStdz,55
174675,2020,WI,Wisconsin,Cardiovascular Diseases,Stroke,144.0,Race,Non-Hispanic Black,Crude,55
174678,2020,WI,Wisconsin,Cardiovascular Diseases,Stroke,188.0,Race,Other,AgeStdz,55
174679,2020,WI,Wisconsin,Cardiovascular Diseases,Stroke,145.0,Race,Other,Crude,55
174680,2020,WY,Wyoming,Cardiovascular Diseases,Stroke,142.0,Overall,Overall,Crude,56
174681,2020,WY,Wyoming,Cardiovascular Diseases,Stroke,110.0,Overall,Overall,AgeStdz,56
174682,2020,WY,Wyoming,Cardiovascular Diseases,Stroke,119.0,Gender,Male,AgeStdz,56
174683,2020,WY,Wyoming,Cardiovascular Diseases,Stroke,149.0,Gender,Male,Crude,56
174684,2020,WY,Wyoming,Cardiovascular Diseases,Stroke,136.0,Gender,Female,Crude,56
174685,2020,WY,Wyoming,Cardiovascular Diseases,Stroke,102.0,Gender,Female,AgeStdz,56
174688,2020,WY,Wyoming,Cardiovascular Diseases,Stroke,142.0,Age,45-64,Crude,56
174689,2020,WY,Wyoming,Cardiovascular Diseases,Stroke,405.0,Age,65,Crude,56
174690,2020,WY,Wyoming,Cardiovascular Diseases,Stroke,197.0,Age,35,Crude,56
174691,2020,WY,Wyoming,Cardiovascular Diseases,Stroke,826.0,Age,75,Crude,56
174692,2020,WY,Wyoming,Cardiovascular Diseases,Stroke,149.0,Race,Non-Hispanic White,Crude,56
174693,2020,WY,Wyoming,Cardiovascular Diseases,Stroke,110.0,Race,Non-Hispanic White,AgeStdz,56
174700,2020,US,United States,Cardiovascular Diseases,Stroke,110.0,Overall,Overall,AgeStdz,59
174701,2020,US,United States,Cardiovascular Diseases,Stroke,134.0,Overall,Overall,Crude,59
174702,2020,US,United States,Cardiovascular Diseases,Stroke,133.0,Gender,Male,Crude,59
174703,2020,US,United States,Cardiovascular Diseases,Stroke,116.0,Gender,Male,AgeStdz,59
174704,2020,US,United States,Cardiovascular Diseases,Stroke,105.0,Gender,Female,AgeStdz,59
174705,2020,US,United States,Cardiovascular Diseases,Stroke,135.0,Gender,Female,Crude,59
174706,2020,US,United States,Cardiovascular Diseases,Stroke,3.0,Age,18-24,Crude,59
174707,2020,US,United States,Cardiovascular Diseases,Stroke,19.0,Age,25-44,Crude,59
174708,2020,US,United States,Cardiovascular Diseases,Stroke,99.0,Age,45-64,Crude,59
174709,2020,US,United States,Cardiovascular Diseases,Stroke,439.0,Age,65,Crude,59
174710,2020,US,United States,Cardiovascular Diseases,Stroke,188.0,Age,35,Crude,59
174711,2020,US,United States,Cardiovascular Diseases,Stroke,752.0,Age,75,Crude,59
174712,2020,US,United States,Cardiovascular Diseases,Stroke,145.0,Race,Non-Hispanic White,Crude,59
174713,2020,US,United States,Cardiovascular Diseases,Stroke,103.0,Race,Non-Hispanic White,AgeStdz,59
174714,2020,US,United States,Cardiovascular Diseases,Stroke,149.0,Race,Non-Hispanic Black,AgeStdz,59
174715,2020,US,United States,Cardiovascular Diseases,Stroke,150.0,Race,Non-Hispanic Black,Crude,59
174716,2020,US,United States,Cardiovascular Diseases,Stroke,84.0,Race,Hispanic,Crude,59
174717,2020,US,United States,Cardiovascular Diseases,Stroke,102.0,Race,Hispanic,AgeStdz,59
174718,2020,US,United States,Cardiovascular Diseases,Stroke,116.0,Race,Other,AgeStdz,59
174719,2020,US,United States,Cardiovascular Diseases,Stroke,119.0,Race,Other,Crude,59

In [216]:
df.dtypes

YearStart               int64
LocationAbbr           object
LocationDesc           object
Class                  object
Topic                  object
Data_Value            float64
Break_Out_Category     object
Break_Out              object
Data_Value_TypeID      object
LocationId              int64
dtype: object

In [217]:
filtered_df = df[df['YearStart'] >= 2010]

In [218]:
filtered_df.head(30)

,YearStart,LocationAbbr,LocationDesc,Class,Topic,Data_Value,Break_Out_Category,Break_Out,Data_Value_TypeID,LocationId
10400,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,3823.0000,Overall,Overall,AgeStdz,1
10401,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,4297.0000,Overall,Overall,Crude,1
10402,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,4384.0000,Gender,Male,Crude,1
10403,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,4165.0000,Gender,Male,AgeStdz,1
10404,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,3517.0000,Gender,Female,AgeStdz,1
10405,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,4217.0000,Gender,Female,Crude,1
10406,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,81.0000,Age,18-24,Crude,1
10407,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,439.0000,Age,25-44,Crude,1
10408,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,2557.0000,Age,45-64,Crude,1
10409,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,1.7917,Age,65,Crude,1
10410,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,6062.0000,Age,35,Crude,1
10411,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,3.1500,Age,75,Crude,1
10412,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,4637.0000,Race,Non-Hispanic White,Crude,1
10413,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,3697.0000,Race,Non-Hispanic White,AgeStdz,1
10414,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,4526.0000,Race,Non-Hispanic Black,AgeStdz,1
10415,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,4085.0000,Race,Non-Hispanic Black,Crude,1
10416,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,1017.0000,Race,Hispanic,AgeStdz,1
10417,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,406.0000,Race,Hispanic,Crude,1
10418,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,982.0000,Race,Other,Crude,1
10419,2010,AL,Alabama,Cardiovascular Diseases,Major Cardiovascular Disease,1334.0000,Race,Other,AgeStdz,1
10420,2010,AK,Alaska,Cardiovascular Diseases,Major Cardiovascular Disease,1770.0000,Overall,Overall,Crude,2
10421,2010,AK,Alaska,Cardiovascular Diseases,Major Cardiovascular Disease,2076.0000,Overall,Overall,AgeStdz,2
10422,2010,AK,Alaska,Cardiovascular Diseases,Major Cardiovascular Disease,2363.0000,Gender,Male,AgeStdz,2
10423,2010,AK,Alaska,Cardiovascular Diseases,Major Cardiovascular Disease,2004.0000,Gender,Male,Crude,2
10424,2010,AK,Alaska,Cardiovascular Diseases,Major Cardiovascular Disease,1770.0000,Gender,Female,AgeStdz,2
10425,2010,AK,Alaska,Cardiovascular Diseases,Major Cardiovascular Disease,1514.0000,Gender,Female,Crude,2
10427,2010,AK,Alaska,Cardiovascular Diseases,Major Cardiovascular Disease,278.0000,Age,25-44,Crude,2
10428,2010,AK,Alaska,Cardiovascular Diseases,Major Cardiovascular Disease,1443.0000,Age,45-64,Crude,2
10429,2010,AK,Alaska,Cardiovascular Diseases,Major Cardiovascular Disease,1.0562,Age,65,Crude,2
10430,2010,AK,Alaska,Cardiovascular Diseases,Major Cardiovascular Disease,2649.0000,Age,35,Crude,2

In [219]:
age_filtered_df = df[df['Break_Out_Category'] == 'Age']

In [226]:
overall_filtered_df = df[df['Break_Out_Category'] == 'Overall']

In [221]:
gender_filtered_df = df[df['Break_Out_Category'] == 'Gender']

In [229]:
race_filtered_df = df[df['Break_Out_Category'] == 'Race']

In [230]:
age_filtered_df.to_csv('age_filtered.csv.gz', index=False, compression='gzip') 
overall_filtered_df.to_csv('age_filtered_overall.csv.gz', index=False, compression='gzip')
gender_filtered_df.to_csv('gender_filtered.csv.gz', index=False, compression='gzip')
race_filtered_df.to_csv('race_filtered.csv.gz', index=False, compression='gzip')

In [224]:
#historical_df = pd.read_csv(csv_file_path = 'Disease_Data.csv', compression='gzip')

In [228]:
df.info

<bound method DataFrame.info of         YearStart LocationAbbr   LocationDesc                    Class  \
0            2000           AL        Alabama  Cardiovascular Diseases
1            2000           AL        Alabama  Cardiovascular Diseases
2            2000           AL        Alabama  Cardiovascular Diseases
3            2000           AL        Alabama  Cardiovascular Diseases
4            2000           AL        Alabama  Cardiovascular Diseases
...           ...          ...            ...                      ...
174715       2020           US  United States  Cardiovascular Diseases
174716       2020           US  United States  Cardiovascular Diseases
174717       2020           US  United States  Cardiovascular Diseases
174718       2020           US  United States  Cardiovascular Diseases
174719       2020           US  United States  Cardiovascular Diseases

                               Topic  Data_Value Break_Out_Category  \
0       Major Cardiovascular Disease      5082.0            Overall
1       Major Cardiovascular Disease      5256.0            Overall
2       Major Cardiovascular Disease      5149.0             Gender
3       Major Cardiovascular Disease      5504.0             Gender
4       Major Cardiovascular Disease      4717.0             Gender
...                              ...         ...                ...
174715                        Stroke       150.0               Race
174716                        Stroke        84.0               Race
174717                        Stroke       102.0               Race
174718                        Stroke       116.0               Race
174719                        Stroke       119.0               Race

                 Break_Out Data_Value_TypeID  LocationId
0                  Overall           AgeStdz           1
1                  Overall             Crude           1
2                     Male             Crude           1
3                     Male           AgeStdz           1
4                   Female           AgeStdz           1
...                    ...               ...         ...
174715  Non-Hispanic Black             Crude          59
174716            Hispanic             Crude          59
174717            Hispanic           AgeStdz          59
174718               Other           AgeStdz          59
174719               Other             Crude          59

[143090 rows x 10 columns]>

In [ ]:
#sns.pairplot(df)
#plt.suptitle('Pair Plot of YearStart and Data_Value', y=1.02)
#plt.show()

In [ ]:
value_counts = df['YearStart'].value_counts()
print(value_counts)

YearStart
2003    2371
2006    2370
2020    2367
2001    2366
2004    2365
2000    2364
2007    2363
2005    2363
2002    2361
2016    2356
2017    2353
2009    2352
2008    2351
2015    2351
2019    2347
2011    2347
2018    2346
2014    2345
2012    2343
2010    2341
2013    2337
Name: count, dtype: int64

In [ ]:
# Number of columns per state per year
columns_per_state_year = 20

# Total number of states
num_states = 50

# Total number of years
num_years = 22

# Separating the dataset by blocks of columns for each state and year
blocks = []
for state_index in range(num_states):
    for year_index in range(num_years):
        start_col = (state_index * num_years * columns_per_state_year) + (year_index * columns_per_state_year)
        end_col = start_col + columns_per_state_year
        block = df.iloc[:, start_col:end_col]
        blocks.append(block)